<meta charset="utf-8">
<title>{{ this.page.meta_title }}</title>
<meta name="description" content="{{ this.page.meta_description }}">
<meta name="title" content="{{ this.page.meta_title }}">
<meta name="author" content="{{ cc_head.author }}">
<meta name="keywords" content="{{ cc_head.keywords }}" />
<meta name="theme-color" content="{{ cc_head.theme_color }}">
<meta name="copyright" content="{{ cc_head.copyright }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="{{ cc_head.icon.thumb(200, auto) }}">

<link rel="shortcut icon" href="{{ cc_head.icon.thumb(50, auto) }}">
<link rel="apple-touch-icon-precomposed" href="{{ cc_head.icon.thumb(200, auto) }}">
<link rel="apple-touch-icon-precomposed" sizes="57×57″ href=" apple-touch-icon-iphone.png"="{{ cc_head.icon.thumb(57, 57) }}">
<link rel="apple-touch-icon-precomposed" sizes="72×72″ href=" apple-touch-icon-ipad.png"="{{ cc_head.icon.thumb(72, 72) }}">
<link rel="apple-touch-icon-precomposed" sizes="114×114″ href=" apple-touch-icon-iphone-retina-display.png"="{{ cc_head.icon.thumb(114, 114) }}">
<link rel="apple-touch-icon-precomposed" href="{{ cc_head.icon.thumb(152, 152) }}">

<meta property="og:title" content="{{ this.page.meta_title }}">
<meta property="og:description" content="{{ this.page.meta_description }}">
<meta property="og:image" content="{{ cc_head.og_image.thumb(cc_head.og_image_width, cc_head.og_image_height) }}">
<meta property="og:url" content="{{ this.page.url }}">
<meta property="og:site_name" content="{{ cc_head.page_title }}">

<meta name="twitter:title" content="{{ this.page.meta_title }} ">
<meta name="twitter:description" content="{{ this.page.meta_description }}">
<meta name="twitter:image" content="{{ cc_head.og_image }}">
<meta name="twitter:card" content="{{ cc_head.og_image }}">
